doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        header 
            h1 Crowdsourced safe spaces

        main
            nav#filters
                #types 
                #statuses 
                #locations 

        
        footer 
            h2 Enter the spreadsheet ID/url here:
            input
            button Load
            


        script(src="vendor/jquery-3.6.4.min.js") 
        script(src="func.js") 
        script(src="entries.js") 
        script(src="request.js") 